body {
	font-size: 24px
}

.customDiv {
	padding: 20px;
	border: 1px solid black
	/*End .customDiv class*/
}

.customW {
	width: 45%;
	float: left; /*raises the element and shifts it to a particular side*/
	display: inline; /*inline allows other elements to be on the same line*/
}

#div3 {
	width: 45%;
	float: right;
	display: inline;
}